footer{
    color: var(--branco);
    background-color: var(--marrom);
    display: flex;
    justify-content: space-between;
    padding: 3rem 15rem;
}

.lista__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid var(--bege);
}

.lista{
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}